html {
    box-sizing: border-box;
}

body {
    font-family: 'Anton', serif, sans-serif;
}

h1 {
    font-family: 'Baskerville', serif;
    color: rgb(62, 145, 62);
}

button {
    background-color: orange;
    text-align: center;
    height: auto;
    width: 100px;
}

button:hover {
    background-color: aquamarine;
}

